
## xsim
.Xil/
xsim.dir/
work.*.wdb
*.pb
*.jou
*.log
*.str

*.swp

sample_out.txt
sample_out.csv

## vsim
_*
transcript

workspace.code-workspace
test/tmp.vcd

## kari
model_sim/*
py/*.csv
py/*.txt
py/*.pt
py/*/*.csv
py/*/*.txt
py/*/*.pt
py/data/*
